<li>
	{{burgerName}}

	<button class="change-devoured btn btn-secondary btn-sm btn-change" data-id="{{id}}" data-newBurger=""="{{devoured}}">
		{{#if devoured}}EAT ANOTHER!!{{else}}EAT IT!!{{/if}}
	</button>

	<button class="delete-burger btn btn-secondary btn-sm btn-change " data-id="{{this.id}}">REMOVE BURGER</button>
</li>